# Node & React (frontend)
frontend/node_modules/
frontend/build/
frontend/.env

# Python (backend)
backend/__pycache__/
backend/venv/
backend/env/
backend/*.pyc
backend/.env

# C++ Binaries
backend/binaries/*
!backend/binaries/.gitkeep

# Editor/IDE
.vscode/
.idea/
.DS_Store

# OS-specific
Thumbs.db
